<p-table #dt1 [value]="logs" [columns]="selectedColumns" class="table" dataKey="id" responsiveLayout="scroll" [paginator]="true"
    [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll" sortField="@timestamp" [sortOrder]=-1
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [rowsPerPageOptions]="[10,25,50,100]"
    [globalFilterFields]="['@timestamp', '@version', 'ecs.version','user.name','canal','service.name', 'service.version', 'container.name', 
    'tags','tracing.uuid','tracing.request_id', 'tracing.idSessaoFrwk', 'log.level', 'log.logger', 'message', 'error.stack_hash', 'error.stack_trace']">
    <ng-template pTemplate="caption">

        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <button type="button" pButton class="p-button-text p-button-rounded p-button-plain mr-2"
                    [routerLink]="['../home']" icon="pi pi-chevron-left"></button>

                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input #filtro pInputText type="text" (input)="dt1.filterGlobal(filtro.value, 'contains')"
                        placeholder="Pesquisar palavra-chave" [style]="{width: '150%'}" />
                </span>
            </div>
            <div class="field col-12 md:col-6 text-right">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header" class="mr-2"
                    selectedItemsLabel="{0} colunas selecionadas" [style]="{minWidth: '200px'}"
                    placeholder="Escolher colunas">
                </p-multiSelect>
                <button pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button>
            </div>

        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3rem"></th>
            <th style="flex-basis:25%" pSortableColumn="@timestamp">@timestamp
                <p-columnFilter type="date" field="@timestamp" display="menu"></p-columnFilter>
                <p-sortIcon field="@timestamp"></p-sortIcon>
            </th>
            <th *ngFor="let col of columns" style="flex-basis:25%" pSortableColumn={{col.header}}>
                {{col.header}}
                <p-columnFilter type="text" field={{col.header}} display="menu"></p-columnFilter>
                <p-sortIcon field={{col.header}}></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-log let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <button type="button" pButton pRipple [pRowToggler]="log"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="flex-basis:25%">{{log?.['@timestamp'] | date : 'dd/MM/yyyy HH:mm:ss:SSS'}}</td>

            <td *ngFor="let col of columns" [ngSwitch]="col.field" style="flex-basis:25%">
                <div *ngSwitchCase="'@version'">{{log?.['@version']}}</div>
                <div *ngSwitchCase="'ecs.version'">{{log?.ecs?.version}}</div>
                <div *ngSwitchCase="'user.name'">{{log?.user?.name}}</div>
                <div *ngSwitchCase="'canal'">{{log?.canal}}</div>
                <div *ngSwitchCase="'service.name'">{{log?.service?.name}}</div>
                <div *ngSwitchCase="'service.version'">{{log?.service?.version}}</div>
                <div *ngSwitchCase="'container.name'">{{log?.container?.name}}</div>
                <div *ngSwitchCase="'tags'">{{log?.tags}}</div>
                <div *ngSwitchCase="'tracing.uuid'">{{log?.tracing?.uuid}}</div>
                <div *ngSwitchCase="'tracing.request_id'">{{log?.tracing?.request_id}}</div>
                <div *ngSwitchCase="'tracing.idSessaoFrwk'">{{log?.tracing?.idSessaoFrwk}}</div>
                <div *ngSwitchCase="'log.level'">{{log?.log?.level}}</div>
                <div *ngSwitchCase="'log.logger'">{{log?.log?.logger}}</div>
                <div *ngSwitchCase="'message'">{{log?.message.substring(0,115).concat(log?.message != undefined &&
                    log.message.length > 115 ? '...': '')}}</div>
                <div *ngSwitchCase="'error.stack_hash'">{{log?.error?.stack_hash}}</div>
                <div *ngSwitchCase="'error.stack_trace'">{{log?.error?.stack_trace}}</div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-log>
        <tr>
            <td colspan="18">
                <div class="p-3 overflow-y -auto" style="max-width: 99vw;">
                    <p-tabView>
                        <p-tabPanel header="Table">
                            <div class="max-w-screen overflow-y -auto">
                                <table class="p-datatable-table">
                                    <tr>
                                        <td style="flex-basis:100px">@timestamp</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.['@timestamp']" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">@version</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.['@version']" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">ecs.version</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.ecs?.version" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">user.name</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen" [value]="log?.user?.name" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">canal</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen" [value]="log?.canal" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">service.name</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.service?.name" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">service.version</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.service?.version" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">container.name</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.container?.name" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">tags</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen" [value]="log?.tags" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">tracing.uuid</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.tracing?.uuid" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">tracing.request_id</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.tracing?.request_id" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">tracing.idSessaoFrwk</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.tracing?.idSessaoFrwk" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">log.level</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen" [value]="log?.log?.level" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">log.logger</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen" [value]="log?.log?.logger" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">message</td>
                                        <td>
                                            <textarea disabled="true" class="textarea" [rows]="5" [cols]="30"
                                                pInputTextarea>{{log?.message}}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">error.stack_hash</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.error?.stack_hash" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="flex-basis:100px">error.stack_trace</td>
                                        <td>
                                            <input type="text" disabled="true" pInputText
                                                class="p-inputtext-sm w-full max-w-screen"
                                                [value]="log?.error?.stack_trace" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="JSON">
                            <textarea class="textarea" [rows]="5" [cols]="30" pInputTextarea>{{log | json}}</textarea>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>