<div class="grid card-center">
    <p-card class="col-8 col-offset-2 sm:col-8 sm:col-offset-2">
        <div class="center">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                    <div style="color: white;">
                        <div class="col text-center">
                            <i class="pi pi-upload" style="font-size: 2rem"></i>
                        </div>
                        <div class="col text-center">
                            Arraste o arquivo de log aqui
                        </div>
                        <div class="col text-center">
                            ou
                        </div>
                        <div class="col flex align-items-center justify-content-center">
                            <button pButton type="button" class="p-button-info p-button-outlined"
                                (click)="openFileSelector()">Procurar arquivos</button>
                        </div>
                    </div>
                </ng-template>
            </ngx-file-drop>
            <div class="menu-link">
                <ul>
                    <li>
                        <a href="https://github.com/FabioLucenaRibas/log-analysis-dashboard" target="_blank"
                            rel="noopener"><i class="pi pi-github"></i> Repositório GitHub</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/fabiolucenaribas" target="_blank" rel="noopener">
                            <i class="pi pi-linkedin"></i> Fábio Lucena Ribas</a>
                    </li>
                </ul>
            </div>
        </div>
    </p-card>


    <p-toast></p-toast>
    <p-confirmDialog [style]="{'white-space': 'pre-wrap'}" [baseZIndex]="10000"></p-confirmDialog>
</div>